services:
  mariadb:
    image: mariadb
    container_name: mariadb
    restart: always
    env_file:
      - ./credenciales
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./moviles.sql://docker-entrypoint-initdb.d/moviles.sql:ro

  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin
    restart: always
    environment:
      - PMA_HOST=mariadb
    ports:
      - 9093:80
    depends_on:
      - mariadb

  python:
    build: ./api
    container_name: python
    env_file:
      - ./credenciales
    depends_on:
      - mariadb

  apache-waf:
    build: ./apache
    ports:
      - 9090:80
    depends_on:
      - python
    links:
      - python

volumes:
  mariadb_data: