services:
  mariadb:
    image: mariadb
    container_name: mariadb5
    restart: unless-stopped
    env_file:
      - ./credenciales
    volumes:
      - mariadb-datab5:/var/lib/mysql
      - ./moviles.sql:/docker-entrypoint-initdb.d/moviles.sql:ro

  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadminb5
    restart: unless-stopped
    environment:
      - PMA_HOST=mariadb5
    ports:
      - "7105:80"
    depends_on:
      - mariadb

  python:
    build: ./api
    container_name: pythonb5
    restart: unless-stopped
    env_file:
      - ./credenciales
    depends_on:
      - mariadb

  apache-waf:
    build: ./apache
    container_name: apacheb5
    restart: unless-stopped
    ports:
      - "6105:80"
    depends_on:
      - python
    links:
      - python

volumes:
  mariadb-datab5:
